{% extends 'base.html.twig' %}

{% block title %}Connexion Gret@Distance{% endblock %}

{% block body %}
<div class="min-h-screen flex flex-col bg-primary">
    <div id="page-container" class="flex-grow">
        <div class="w-screen pt-16 flex justify-center items-center">
            <form method="post" class="flex flex-col gap-4 justify-between bg-white w-full sm:w-11/12 md:w-2/4 px-6 py-14 rounded-2xl">
                <h1 class="text-center text-4xl">Bienvenue sur gret@distance,</h1>
                <h2 class="text-center text-2xl">Plateforme de formation à distance du réseau des Greta d'Île de France</h2>
                {% if error %}
                <div class="bg-red-600 rounded-md text-white py-2 px-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
                <div class="flex flex-col sm:flex-col md:flex-row lg:flex-row items-center justify-between w-[100%]">
                    <div class="flex flex-col w-3/5 gap-2">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="border {{ error ? 'border-red-500' : 'border-gray-300' }} px-3 py-2 rounded focus:outline-none focus:border-blue-500 w-full" autocomplete="email" required autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="border {{ error ? 'border-red-500' : 'border-gray-300' }} px-3 py-2 rounded focus:outline-none focus:border-blue-500 w-full" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <div class="checkbox mb-3 mt-3">
                            <label>
                                <input type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" name="_remember_me"> Se souvenir du nom d'utilisateur
                            </label>
                        </div>

                        <button type="submit" class="text-white bg-primary duration-500 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Se Connecter</button>
                    </div>

                    <div class="flex flex-col mb-20 sm:mt-0 w-full sm:w-2/6 text-md">
                        <div class="">
                            <a href="reset-password" class="text-primary">Nom d'utilisateur ou mot de passe oublié ?</a>
                            <p>Votre navigateur doit supporter les cookies</p>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="w-full bg-white flex gap-7 items-center justify-center">
        <img src="https://www.greta-besancon.com/themes/greta/assets/img/og_logo.jpg"  alt="Logo du Greta" class="w-60 h-28" aria-hidden="true">
        <img src="https://www.greta-besancon.com/themes/greta/assets/img/og_logo.jpg"  alt="Logo du Greta" class="w-60 h-28" aria-hidden="true">
        <img src="https://www.greta-besancon.com/themes/greta/assets/img/og_logo.jpg"  alt="Logo du Greta" class="w-60 h-28" aria-hidden="true">
        <img src="https://www.greta-besancon.com/themes/greta/assets/img/og_logo.jpg"  alt="Logo du Greta" class="w-60 h-28" aria-hidden="true">
    </div>
    <footer class="w-full bg-darkgrey text-white px-10 py-10 text-center flex gap-6 items-center justify-center">
        <a href="">Gret@ Ile de France</a>
        <a href="">Mentions Legales</a>
        <a href="">CGU</a>
        <a href="">Configuration</a>
        <a href="">Declaration d'accessibilité</a>
    </footer>
</div>
{% endblock %}
