{{ form_start(form) }}
<div class="mb-4">
    <label for="{{ form.titre.vars.id }}" class="block text-sm font-medium text-gray-700">Titre</label>
    {{ form_widget(form.titre, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
</div>
<form id="question-form">
    <input id="question-input" name="question" placeholder="Pose une question" />
    <button type="submit">Ask GPT</button>
</form>
<div class="mb-4">
    <label for="{{ form.contenu.vars.id }}" class="block text-sm font-medium text-gray-700">Contenu</label>
    {{ form_widget(form.contenu, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
</div>

<div class="mb-4">
    <label for="{{ form.dateDebut.vars.id }}" class="block text-sm font-medium text-gray-700">Date de début</label>
    {{ form_widget(form.dateDebut, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
</div>

<div class="mb-4">
    <label for="{{ form.dateFin.vars.id }}" class="block text-sm font-medium text-gray-700">Date de fin</label>
    {{ form_widget(form.dateFin, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
</div>

<div class="mb-4">
    <label for="{{ form.video.vars.id }}" class="block text-sm font-medium text-gray-700">Vidéo du cours</label>
    {{ form_widget(form.video, {'attr': {'class': 'form-control-file'}}) }}
</div>

<div class="mb-4">
    <label for="{{ form.fichier.vars.id }}" class="block text-sm font-medium text-gray-700">Fichier Aditionel</label>
    {{ form_widget(form.fichier, {'attr': {'class': 'form-control-file'}}) }}
</div>

<div class="mb-4">
    <label for="{{ form.image.vars.id }}" class="block text-sm font-medium text-gray-700">Image de Presentation</label>
    {{ form_widget(form.image, {'attr': {'class': 'form-control-file'}}) }}
</div>

<div class="mb-4">
    <label for="{{ form.alt.vars.id }}" class="block text-sm font-medium text-gray-700">Alt</label>
    {{ form_widget(form.alt, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
</div>

<div class="mb-4">
    <label for="{{ form.categorie.vars.id }}" class="block text-sm font-medium text-gray-700">Catégorie</label>
    {{ form_widget(form.categorie, {'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
</div>

<div class="flex gap-3">
    <a href="{{ path('app_cours_index') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Retour</a>
    <button class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{{ button_label|default('Ajouter') }}</button>
</div>

{{ form_end(form) }}


<script>
    document.getElementById('question-form').addEventListener('submit', function(event) {
        event.preventDefault();

        var question = document.getElementById('question-input').value;

        fetch('/api/gpt', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ question: question }),
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            // Mettre à jour la réponse dans l'élément #answer-container
          console.log(data);
        })
        .catch(function(error) {
            console.log(error);
        });
    });
</script>

